# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\FIS\topic03\Pratice\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
